@import url("./effect/code.css");

.block_openai_chat {
	width: 300px;
	height: auto;
	max-height: 95vh;
	z-index: 10;
	display: none;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
	box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	position: absolute;
	left: 100%;
	bottom: 0;
	background-color: #fff;
	font-size: 12px;
	cursor: default;
}
.block_openai_chat::before {
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: -1;
	background-color: rgba(0, 0, 0, 0.5);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.openai_chat_title {
	height: 50px;
	padding: 16px 24px;
	background-color: #293239;
	display: flex;
	justify-content: center;
	gap: 5px;
	align-items: center;
	color: white;
	font-size: 12px;
	font-weight: bold;
	position: relative;
}
.openai_chat_title img {
	max-height: 100%;
	filter: invert(92%) sepia(74%) saturate(14%) hue-rotate(7deg) brightness(109%)
		contrast(102%);
}
.openai_chat_title .btn-close-chat {
	position: absolute;
	background: transparent;
	right: 0;
	top: 0;
	color: #fff;
	cursor: pointer;
	border: none;
	padding: 6px;
}

.block_openai_chat #openai_chat_log {
	display: flex;
	flex-direction: column;
	height: 300px;
	overflow-y: scroll;
	overflow-x: hidden;
	background-color: #fff;
	/* margin-bottom: 0.5rem; */
}
.block_openai_chat #openai_chat_log p {
	margin: 0;
}
.block_openai_chat #openai_chat_log a {
	color: white;
	text-decoration: underline;
}
.block_openai_chat #openai_input {
	padding: 8px;
	border: none;
	width: 100%;
	transition: background 0.4s ease;
	resize: none;
}

.block_openai_chat #openai_input:focus-visible {
	outline: 0;
}
.block_openai_chat #openai_input.error {
	border: 1px solid red;
}
.block_openai_chat #openai_input.disabled {
	background: #dbdbdb;
	pointer-events: none;
}
.block_openai_chat .openai_message {
	padding: 0.75rem 1rem;
	background: #f4f4f4;
	border-radius: 0.5rem;
	margin-bottom: 1.75rem;
	width: fit-content;
	max-width: 90%;
	animation: block_openai_chat_popup 0.4s cubic-bezier(0.87, 0, 0.13, 1);
	position: relative;
	cursor: text;
	user-select: text !important;
}
.block_openai_chat .openai_message:before {
	position: absolute;
	top: -1.5rem;
	left: 0;
	color: gray;
	opacity: 0;
	animation: block_openai_chat_fade-in 0.4s ease 0.4s forwards;
}
.block_openai_chat .openai_message.user {
	color: #000;
	align-self: flex-end;
	text-align: left;
}
.block_openai_chat .openai_message.user:before {
	right: 0;
	left: unset;
}
.block_openai_chat .openai_message.bot {
	background: #00b0ff;
	color: #fff;
}
.block_openai_chat .openai_message.loading {
	animation: block_openai_chat_thinking 1s ease infinite;
}
.block_openai_chat .openai_message.loading:before {
	animation: none;
	opacity: 0;
}

@keyframes block_openai_chat_popup {
	0% {
		opacity: 0;
		transform: translateY(5px);
	}
	70% {
		opacity: 1;
		transform: translateY(-2.5px);
	}
	85% {
		transform: translateY(2.5px);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes block_openai_chat_thinking {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.25;
	}
	100% {
		opacity: 1;
	}
}

@keyframes block_openai_chat_fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@media screen and (max-width: 768px) {
	.block_openai_chat {
		position: fixed;
		bottom: 50%;
		left: 50%;
		transform: translate(-50%, 50%);
	}
}
pre > code.hljs {
	font-size: 13px !important;
}
