body {
    width: 100%;
    max-width: 1600px;
    overflow-wrap: anywhere;
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
    line-height: normal;
}

nav {
    border-right: 1px dashed #dedede;
}

    nav a {
        text-decoration: none;
    }

header {
    background-color: transparent;
}
