
body {
    width: 100%;
    max-width: 1600px !important;
    overflow-wrap: anywhere;
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
}

nav {
    border-right: 1px dashed #dedede;
    overflow: visible !important;
}

    nav a {
        text-decoration: none;
    }
    nav .w3-bar-block > div {
      display: flex !important;
      align-items: center;
    }
    .bar-item-chat {
      position: relative;
      overflow: visible;
    }

header {
    background-color: transparent;
}

form {
  margin: 0;
}

/* div.container-donate {
  display: flex;  
  flex-direction: column;
  align-items: center;
} */

/* .bmc-btn {
  font-size: 15px !important;
  min-width: fit-content !important;
  height: fit-content !important;
  padding: 12px !important;
} */

h4#contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div#donate-container {
  position: relative;
}
div#bmc-wbtn {
  font-size: 15px !important;
  padding: 12px !important;
  background-color: #17171B !important;
  border: none !important;
  border-radius: 5px !important;
  color: #fff !important;
  width: fit-content !important;
  position: relative !important;
  font-weight:unset !important;
  height: fit-content !important;
  top: 0 !important;
  left: 0 !important;
}
div#bmc-wbtn i {
  margin-left: 5px !important;
}
/* div#bmc-wbtn:hover {
  background-color: #0A0A0C !important;
  animation-name: wobble-top !important;
  animation-duration: 1s !important;
  animation-timing-function: ease-in-out !important;
  animation-iteration-count: 1 !important; */
/* } */
div#bmc-wbtn img {
  display: none !important;
}

iframe#bmc-iframe {
  right: 100% !important;
  bottom: 0 !important;
  z-index: 99999999 !important;
  position: absolute !important;
}

.noscroll{
  height: 100vh;
  overflow:hidden;
}

@media screen and (max-width: 768px) {
  iframe#bmc-iframe {
    position: fixed !important;
    transform: translate(-50%, -50%) !important;
    left: 50% !important;
    top: 50% !important;
    min-height: fit-content !important;
    min-width: fit-content !important;
  }
}