main {
	position: relative;
}
.cover-container {
	position: relative;
	width: 50%;
	height: fit-content;
	margin-top: 5px;
}

.cover-photo {
	width: 100%;
	object-fit: contain;
	object-position: center;
	aspect-ratio: 6/4;
	background-color: white;
}

.category tbody tr td:first-child {
	display: none;
}

.remove-img-btn {
	position: absolute;
	right: 4px;
	top: 3px;
	border: 1px solid #d5d5d5;
	border-radius: 3px;
	background-color: #eee;
	background-image: linear-gradient(#fcfcfc, #eee);
	cursor: pointer;
	padding: 2px 6px;
	margin: 0;
}

#input-co-author {
	display: inline-block;
	/* display: inline-flex; */
	min-width: 100%;
	min-height: fit-content;
	gap: 1px;
	background-color: #fff;
	align-items: center;
}

.fir-clickcircle {
	height: 30px;
	width: 30px;
	border-radius: 100px;
	cursor: pointer;
}

.fir-image-figure {
	border-radius: 3px;
	background-color: white;
	/* box-shadow: 0px 10px 20px rgba(0,0,0,0.2); */
	margin: 0;
	display: inline-flex;
	align-items: center;
	position: relative;
	text-decoration: none;
	cursor: pointer;
	width: fit-content;
	max-width: 100%;
	height: 38px;
	justify-content: start;
	padding-inline: 10px;
	border: 1px solid;
}

.fir-image-figure .caption,
.fir-image-figure figcaption {
	margin-inline: 5px;
}

html.wf-active .fir-image-figure .fig-author-figure-title {
	font-family: var(--fir-font-header);
	font-size: 16px;
}

.fir-image-figure .fig-author-figure-title {
	color: var(--fir-color-grey);
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
		Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 400;
	font-size: 15px;
	margin-top: 2px;
}

.fir-imageover {
	position: relative;
	display: flex;
}

.fir-imageover-color {
	height: 80px;
	width: 80px;
	position: absolute;
	background: var(--fir-blue-twitter-alpha);
	background-image: none;
	border-radius: 100px;
	cursor: pointer;
	transition: background 0.3s ease-in-out;
	animation: fadeInFadeOut 2s infinite;
	top: 0;
	left: 0;
}

.fir-imageover-image {
	position: absolute;
	top: 0;
	left: 0;
}

.alert {
	position: relative;
	padding: 0.75rem 1.25rem;
	margin-bottom: 1rem;
	border: 1px solid transparent;
	border-radius: 0.25rem;
}

.alert-danger {
	color: #721c24;
	background-color: #f8d7da;
	border-color: #f5c6cb;
}

.alert-dismissible {
	padding-right: 4rem;
}

.alert-dismissible .close {
	position: absolute;
	top: 0;
	right: 0;
	padding: 0.75rem 1.25rem;
	color: inherit;
}

.fade {
	transition: opacity 0.15s linear;
}

.fade:not(.show) {
	opacity: 0;
}

.close {
	float: right;
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	opacity: 0.5;
}

.close:not(:disabled):not(.disabled) {
	cursor: pointer;
}

.close:not(:disabled):not(.disabled):hover,
.close:not(:disabled):not(.disabled):focus {
	color: #000;
	text-decoration: none;
	opacity: 0.75;
}

button.close {
	padding: 0;
	background-color: transparent;
	border: 0;
	-webkit-appearance: none;
}

/* loading */
.spanner {
	position: fixed;
	top: 50%;
	left: 0;
	background: #2a2a2a;
	opacity: 0.9 !important;
	width: 100%;
	display: block;
	text-align: center;
	height: 100%;
	color: #fff;
	transform: translateY(-50%);
	z-index: 1000;
	visibility: hidden;
}

.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	visibility: hidden;
}

.loader,
.loader:before,
.loader:after {
	border-radius: 50%;
	width: 2.5em;
	height: 2.5em;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation: load7 1.8s infinite ease-in-out;
	animation: load7 1.8s infinite ease-in-out;
}
.loader {
	color: #ffffff;
	font-size: 10px;
	margin: 25% auto 80px;
	position: relative;
	text-indent: -9999em;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}
.loader:before,
.loader:after {
	content: "";
	position: absolute;
	top: 0;
}
.loader:before {
	left: -3.5em;
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}
.loader:after {
	left: 3.5em;
}
@-webkit-keyframes load7 {
	0%,
	80%,
	100% {
		box-shadow: 0 2.5em 0 -1.3em;
	}
	40% {
		box-shadow: 0 2.5em 0 0;
	}
}
@keyframes load7 {
	0%,
	80%,
	100% {
		box-shadow: 0 2.5em 0 -1.3em;
	}
	40% {
		box-shadow: 0 2.5em 0 0;
	}
}

.show {
	visibility: visible;
}

.spanner,
.overlay {
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.spanner.show,
.overlay.show {
	opacity: 1;
}
